/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --white: #ebebf0;
    --ltblue: #91bbf2;
    --navy: #273273;
    --dkblue: #131a40;
    --black: #101014;
    --blueHover: #2d84d0;
    --blueBackground: #02315a;
    --blueTitle: #035aa6;
    --blueButton: #0367a6;
    --offerOasisColor: #fbc550;
    --liveSignLanguageColor: #ffcccc;
    --blendifyColor: #8345d2;
    --woodyClickColor: #b8e9cb;
    --sussyScriptColor: #f06060;
    --babelBeautyColor: #ff9696;
    --font-size: 1.3rem;
    --montserrat: Montserrat;
    --barlow: Barlow Condensed;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--barlow);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
    animation: transitionIn 0.75s;
}

h1,
h2,
h3 {
    margin: 0;
}

h2 {
    text-shadow: 4px 4px 4px var(--black);
}

/* background color divs */
.section-dkblue {
    padding: 3rem 0 3rem 0;
    background-color: var(--blueBackground);
}
.project-background {
    padding: 3rem 0 3rem 0;
    background-color: var(--blueBackground);
}
.section-navy {
    background-color: var(--ltBlueBackground);
}
.project-img {
    max-height: 550px; /* Set the maximum height */
    width: auto; /* Ensure the width adjusts automatically */
    object-fit: contain; /* Ensure the image fits within the container while maintaining its aspect ratio */
}
.sussyScript-examples {
    margin: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
iframe {
    max-height: 550px; /* Set the maximum height */
    width: 100%; /* Set the width to 100% of the container */
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
    object-fit: contain; /* Ensure the iframe fits within the container while maintaining its aspect ratio */
    border-radius: 25px;
    margin-bottom: 1.5rem;
    border: 0px;
}

/* nav section */
nav {
    font-family: var(--montserrat);
    font-size: 80%;
    padding: 2rem 1rem;
}

nav h1 a {
    font-family: var(--montserrat);
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav [class*='fa-'] {
    font-size: 150%;
    color: var(--blueButton);
}

nav h1 [class*='fa-'] {
    font-size: 100%;
    color: var(--blueButton);
}
nav a {
    color: var(--white);
    text-decoration: none;
    display: block;
}

nav .fa-solid.fa-code:hover {
    color: var(--blueButton);
}

nav #homeButton:hover {
    color: var(--ltblue);
}

nav a:hover,
nav [class*='fa-']:hover {
    color: var(--ltblue);
}

.button {
    background-color: var(--blueButton);
    color: var(--white);
    padding: 0.5rem;
    border-radius: 5px;
    font-family: var(--montserrat);
    text-decoration: none;
}
.button:hover {
    color: var(--white);
    background-color: var(--blueHover);
}

.description {
    color: white;
    font-size: 3rem;
    line-height: 1.5;
}
.categories,
.category-details {
    color: white;
    font-size: 3rem;
    line-height: 1.5;
}
.categories .category,
.category-details .detail {
    display: block; /* Make sure each category is on its own line */
    margin-bottom: 1rem; /* Add space between categories */
}
.categories .category {
    font-weight: bold;
}

#offerOasisTitle {
    color: var(--offerOasisColor);
}
#liveSignLanguageTitle {
    color: var(--liveSignLanguageColor);
}
#blendifyTitle {
    color: var(--blendifyColor);
}
#woodyClickTitle {
    color: var(--woodyClickColor);
}
#sussyScriptTitle {
    color: var(--sussyScriptColor);
}
#babelBeautyTitle {
    color: var(--babelBeautyColor);
}

.offerOasisCategories {
    color: var(--offerOasisColor);
}
.liveSignLanguageCategories {
    color: var(--liveSignLanguageColor);
}
.blendifyCategories {
    color: var(--blendifyColor);
}
.woodyClickCategories {
    color: var(--woodyClickColor);
}
.sussyScriptCategories {
    color: var(--sussyScriptColor);
}
.babelBeautyCategories {
    color: var(--babelBeautyColor);
}

.project-description {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.project-description a {
    align-items: flex-start;
    text-decoration: none; /* Remove underline for all links */
}
#project-button {
    font-family: var(--montserrat);
    color: var(--white); /* Change the color to white */
    font-size: 1.4rem;
}

#project-button:hover {
    text-decoration: underline; /* Optionally, add underline on hover */
}

hr {
    width: 100%;
    border: none; /* Remove default border */
    height: 3px; /* Set the height of the line */
    background-color: var(--white); /* Set the color of the line */
    margin: 1.5rem 0 1rem 0; /* Add some space above and below the line */
}

/* About Me section */
#project {
    padding: 1rem 1rem;
}
#project h2 {
    font-size: 2.5rem;
}
#project h3 {
    font-size: 2rem;
}
#project p {
    font-size: 1.5rem;
    font-family: var(--montserrat);
    margin: 0;
}
#project ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
}

/* footer section */
footer {
    text-align: center;
    padding: 4rem 0;
}

footer ul {
    padding: 0;
    margin: 2rem 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
}

footer [class*='fa-'] {
    color: var(--blueButton);
}

footer [class*='fa-']:hover {
    color: var(--ltblue);
}

@keyframes transitionIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 800px) {
    #intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }
    #intro .profileImage {
        text-align: end;
    }
    article {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
    }
    .details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 1.5rem;
        text-align: left;
    }
    .extra-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        padding-right: 7rem;
    }

    #project {
        max-width: 1200px;
        margin: 0 auto;
    }
    .project-img {
        width: 100%;
    }
    #project ul {
        justify-content: flex-end;
    }
}
@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}
