/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #101014;
  --dkblue: #012030;
  --ltgreen: #dafdba;
  --green: #9aeba3;
  --gb: #45c4b0;
  --blue: #13678a;
  --white: #ebebf0;
  --font-size: 1.3rem;
  --montserrat: Montserrat;
  --barlow: Barlow Condensed;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--barlow);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}
a {
  color: var(--blue);
}
a:hover {
  color: var(--ltgreen);
  text-decoration: none;
}

/* background color divs */
.section-dkblue {
  background-color: var(--dkblue);
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(69, 196, 176, 1) 0%,
    rgba(154, 235, 163, 1) 100%
  );
  height: 2px;
}

/* intro styles */
#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1.5rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--barlow);
  font-size: 1.5rem;
}

.name span {
  font-family: var(--montserrat);
  font-size: 4rem;
  color: var(--gb);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
}

/* contact section */
#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

#contact .email {
  margin-top: 3rem;
}

/* nav section */
nav {
  font-family: var(--montserrat);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--barlow);
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--blue);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--blue);
}
nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--ltgreen);
}

.button {
  background-color: var(--gb);
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--montserrat);
  text-decoration: none;
}
.button:hover {
  color: var(--white);
  background-color: var(--green);
}

footer {
  text-align: center;
  padding: 4rem 0;
}

footer ul {
  padding: 0;
  margin: 2rem 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
